# Mail configuration for portfolio contact notifications
MAIL_SERVER=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=naveenselvan0004@gmail.com
MAIL_PASSWORD=ufoxsqdsvlvtyntj
MAIL_FROM=naveenselvan0004@gmail.com
